body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2577a9;
}

#alta-form{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.214), 0 0 10px lightgreen;
    transition: box-shadow 0.5s ease;
}

#alta-form:hover{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.214), 0 0 20px lawngreen;
}

/* Estilos adicionales para el formulario de modificación */
#modificar-form {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.214), 0 0 10px orange;
    transition: box-shadow 0.5s ease;
}

#modificar-form:hover{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.214), 0 0 20px darkorange;
}

/* Estilos adicionales para el formulario de borrado */
#borrar-form {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.214), 0 0 10px indianred;
    transition: box-shadow 0.5s ease;
}

#borrar-form:hover{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.214), 0 0 20px red;
}
